User
ul li{
	list-style: none;
	font-size: 22px;
	padding: 20px 110px 12px 50px;
	user-select: none;
	cursor: pointer;
	font-family: cursive;
	position: relative;

}

body{
	background-image: url(images/todoImage.avif);
	background-position: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

ul li span{
	position: absolute;
	right: 0;
	top: 13px;
	height: 40px;
	width: 40px;
	font-size: 22px;
	color: #555;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
}

p {

	text-align: right;
	padding-right: 30px;
	padding-top: 10px;
	font-weight: bold;
	font-family: cursive;

}

hr{
	margin-top: 30px;
}

.remain {
	padding-left: 50px;
}

.todo-container {
	margin: 320px 600px 320px 600px;
	padding: 32px;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.19);
	font-size: 1.125rem;
    line-height: 1.75rem;
	border-radius: 8px;
	box-shadow: 50px black;
	color: white;
	backdrop-filter: blur(8px);
}

.taskbox {
	padding: 12px;
	outline: none;
	border-radius: 9999px;
	background-color: white;
	color: black;
	flex: 1 1 0%;
}

.btn {
	padding-top: 0.75rem/* 12px */;
    padding-bottom: 0.75rem/* 12px */;
	width: fit-content;
	border-radius: 9999px;
	background-color: antiquewhite;
	padding-right: 20px;
	padding-left: 20px;
}